html, body{
    height: 100%;
}
body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-header-row{
    background-color: rgb(149, 178, 241) !important;
    height: 40px !important;
}

.mat-mdc-row{
    height: 30px !important;
}

.mat-mdc-row:nth-child(even){
    background-color: rgb(211, 224, 186);
    height:30px !important;
}
